@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff");
}
* {
  font-family: "Karla", sans-serif;
}

body {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #97fae4;
}

h2 {
  color: #e9e6f2;
}

/* determines icon size */
header {
  position: sticky;
  background-color: #201e21;
  top: -1px;
  border-top: 1px;
  z-index: 1;
  text-align: center;
}
header h1 {
  transition: transform 0.2s, font-size 0.2s;
}
header h1 a, header h1 a:visited {
  text-decoration: none;
  color: #97fae4;
  font-family: "Montserrat", sans-serif;
}
header h1 a:hover {
  color: #34b89a;
}
header .header-links {
  transition: translate 0.2s;
}
header .header-links, header .header-links a {
  color: #e72d80;
  font-family: "Montserrat", sans-serif;
  padding: 0 10px;
}
header .header-links a:hover {
  color: #ac206e;
}

header.isSticky {
  width: 100%;
  height: 50px;
  margin: 0;
  -webkit-box-shadow: 0 5px 10px -3px #0d0305;
  -moz-box-shadow: 0 5px 10px -3px #0d0305;
  box-shadow: 0 5px 10px -3px #0d0305;
}

h1.isSticky {
  transform: translate(-400px, 5px);
  font-size: 30px;
  margin: 0;
  transition: transform 0.2s, font-size 0.2s;
}

.header-links.isSticky {
  transform: translate(0, -20px);
  transition: translate 0.2s;
}

html {
  background-color: #201e21;
}

a, a:visited {
  text-decoration: none;
  color: #e72d80;
}

button {
  border: none;
  cursor: pointer;
}

.inline-icon {
  color: #34b89a;
  font-family: icomoon;
  font-size: 22px;
  padding: 10px 20px;
  transition: color 0.2s;
  background-color: inherit;
}

.inline-icon {
  color: #e72d80;
  padding: 0 5px;
  font-size: inherit;
}

a {
  color: #e9e6f2;
}

a:hover {
  color: #e72d80;
}

h1 {
  margin-bottom: 4px;
}

h2 {
  text-align: center;
}

h3, .profile {
  color: #e9e6f2;
}

header {
  margin-bottom: 30px;
}

details > summary {
  cursor: pointer;
  display: block;
  text-align: center;
  font-style: italic;
}

summary:hover {
  color: #e72d80;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-entry {
  padding: 10px;
  background-color: #201e21;
  -webkit-box-shadow: 1px 1px 2px #0d0305;
  -moz-box-shadow: 1px 1px 2px #0d0305;
  box-shadow: 1px 1px 2px #0d0305;
  border-left: 5px solid #ac206e;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.aboutme-body {
  width: 80%;
  margin: 0 auto 30px;
  -webkit-box-shadow: 3px 5px 10px -3px #0d0305;
  -moz-box-shadow: 3px 5px 10px -3px #0d0305;
  box-shadow: 3px 5px 10px -3px #0d0305;
  background-color: #242328;
  padding: 20px;
  animation-name: card-transition;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.profile {
  width: 100%;
}

@keyframes card-transition {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*====== Full layout ======*/
@media screen and (min-width: 700px) {
  h1 {
    font-size: 55px;
  }

  .aboutme-body {
    min-width: 547px;
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutme-body {
    width: 600px;
  }
}
@media screen and (min-width: 2000px) {
  .aboutme-body {
    font-size: 20px;
    min-width: 800px;
    padding: 25px;
  }

  .list-entry {
    padding: 15px;
  }
}
@media screen and (min-width: 2600px) {
  .aboutme-body {
    font-size: 30px;
    min-width: 1200px;
  }

  .list-entry {
    -webkit-box-shadow: 3px 3px 6px #0d0305;
    -moz-box-shadow: 3px 3px 6px #0d0305;
    box-shadow: 3px 3px 6px #0d0305;
    border-left: 10px solid #ac206e;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
}

/*# sourceMappingURL=aboutme.css.map */
