@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff");
}
* {
  font-family: "Karla", sans-serif;
}

html {
  background-color: #201e21;
}

body {
  margin: 0 0 100px;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #97fae4;
  margin-bottom: 10px;
  transition: all 0.2s;
}

h2 {
  color: #e9e6f2;
}

header {
  position: sticky;
  background-color: #201e21;
  top: -1px;
  margin-bottom: 40px;
  border-top: 1px;
  z-index: 1;
  text-align: center;
}
header h1 a, header h1 a:visited {
  text-decoration: none;
  color: #97fae4;
  font-family: "Montserrat", sans-serif;
}
header h1 a:hover {
  color: #34b89a;
}

header.isSticky {
  -webkit-box-shadow: 0 5px 10px -3px #0d0305;
  -moz-box-shadow: 0 5px 10px -3px #0d0305;
  box-shadow: 0 5px 10px -3px #0d0305;
}

h1.isSticky {
  transform: translateY(10px);
}

a, a:visited {
  text-decoration: none;
  color: #e72d80;
}

button {
  border: none;
  cursor: pointer;
}

.header-links {
  display: none;
  position: relative;
  flex-direction: column;
  transition: all 0.2s;
}
.header-links a {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 20px 0;
  font-size: 18px;
  color: #e9e6f2;
}

.mobile-links-button.inline-icon {
  font-size: 24px;
  padding: 20px 20px;
}

.inline-icon {
  color: #34b89a;
  font-family: icomoon;
  font-size: 22px;
  padding: 10px 20px;
  transition: color 0.2s;
  background-color: inherit;
}

.inline-icon {
  color: #e72d80;
  padding: 0 5px;
}

.header-links.isOpen {
  display: flex;
  animation: navbarSlide 0.2s;
}

@keyframes navbarSlide {
  from {
    opacity: 0;
    top: -100px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@media screen and (min-width: 500px) {
  .mobile-links-button {
    display: none;
  }

  .header-links {
    display: block;
    position: static;
  }

  .header-links.isOpen {
    display: block;
    animation: none;
  }

  .header-links a {
    color: #e72d80;
    font-family: "Montserrat", sans-serif;
    padding: 0 7.5px;
    position: static;
    transform: none;
    width: 50%;
  }

  .header-links a:hover {
    color: #ac206e;
  }

  h1.isSticky {
    transform: translateY(-200px);
  }

  .header-links.isSticky {
    transform: translateY(-25px);
  }
}
@media screen and (min-width: 900px) {
  .header-links a {
    padding: 0 10px;
  }

  h1.isSticky {
    transform: translate(-300px, 10px);
    margin: 0;
    transition: transform 0.2s, font-size 0.2s;
  }

  .header-links.isSticky {
    transform: translate(100px, -15px);
  }
}
@media screen and (min-width: 1100px) {
  h1.isSticky {
    transform: translate(-400px, 10px);
  }

  .header-links.isSticky {
    transform: translateY(-15px);
  }
}
@media screen and (min-width: 2000px) {
  h1.isSticky {
    transform: translate(-550px, 10px);
  }

  .header-links.isSticky {
    transform: translateY(-23px);
  }

  h1 {
    font-size: 45px;
  }

  .header-links a {
    font-size: 22px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 2600px) {
  h1.isSticky {
    transform: translate(-800px, 20px);
  }

  .header-links.isSticky {
    transform: translateY(-35px);
  }

  h1 {
    font-size: 70px;
  }

  .header-links a {
    font-size: 35px;
    padding: 0 20px;
  }
}
a {
  color: #e9e6f2;
}

a:hover {
  color: #e72d80;
}

h2 {
  text-align: center;
}

h3, .profile {
  color: #e9e6f2;
}

details > summary {
  cursor: pointer;
  display: block;
  text-align: center;
  font-style: italic;
}

summary:hover {
  color: #e72d80;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-entry {
  padding: 10px;
  background-color: #201e21;
  -webkit-box-shadow: 1px 1px 2px #0d0305;
  -moz-box-shadow: 1px 1px 2px #0d0305;
  box-shadow: 1px 1px 2px #0d0305;
  border-left: 5px solid #ac206e;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.aboutme-body {
  width: 80%;
  margin: 0 auto 30px;
  -webkit-box-shadow: 3px 5px 10px -3px #0d0305;
  -moz-box-shadow: 3px 5px 10px -3px #0d0305;
  box-shadow: 3px 5px 10px -3px #0d0305;
  background-color: #242328;
  padding: 20px;
  animation-name: card-transition;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
}

.profile {
  width: 100%;
}

@keyframes card-transition {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
/*====== Full layout ======*/
@media screen and (min-width: 700px) {
  .aboutme-body {
    min-width: 547px;
    max-width: 600px;
  }
}
@media screen and (min-width: 1200px) {
  .aboutme-body {
    width: 600px;
  }
}
@media screen and (min-width: 2000px) {
  .aboutme-body {
    font-size: 20px;
    min-width: 800px;
    padding: 25px;
  }

  .list-entry {
    padding: 15px;
  }
}
@media screen and (min-width: 2600px) {
  .aboutme-body {
    font-size: 30px;
    min-width: 1200px;
  }

  .list-entry {
    -webkit-box-shadow: 3px 3px 6px #0d0305;
    -moz-box-shadow: 3px 3px 6px #0d0305;
    box-shadow: 3px 3px 6px #0d0305;
    border-left: 10px solid #ac206e;
    -webkit-border-radius: 8px;
    border-radius: 8px;
  }
}

/*# sourceMappingURL=aboutme.css.map */
