@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff");
}
* {
  font-family: "Karla", sans-serif;
}

html {
  background-color: #201e21;
}

body {
  margin: 0 0 100px;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #97fae4;
  margin-bottom: 10px;
  transition: all 0.2s;
}

h2 {
  color: #e9e6f2;
}

header {
  position: sticky;
  background-color: #201e21;
  top: -1px;
  margin-bottom: 40px;
  border-top: 1px;
  z-index: 1;
  text-align: center;
}
header h1 a, header h1 a:visited {
  text-decoration: none;
  color: #97fae4;
  font-family: "Montserrat", sans-serif;
}
header h1 a:hover {
  color: #34b89a;
}

header.isSticky {
  -webkit-box-shadow: 0 5px 10px -3px #0d0305;
  -moz-box-shadow: 0 5px 10px -3px #0d0305;
  box-shadow: 0 5px 10px -3px #0d0305;
}

h1.isSticky {
  transform: translateY(2.5px);
  transition: all 0.2s;
}

a, a:visited {
  text-decoration: none;
  color: #e72d80;
}

button {
  border: none;
  cursor: pointer;
}

.header-links {
  display: none;
  transition: transform 0.2s;
}

.inline-icon {
  color: #34b89a;
  font-family: icomoon;
  font-size: 22px;
  padding: 10px 20px;
  transition: color 0.2s;
  background-color: inherit;
}

.inline-icon {
  color: #e72d80;
  padding: 0 5px;
  font-size: inherit;
}

@media screen and (min-width: 500px) {
  .header-links {
    display: block;
    transition: transform 0.2s;
  }

  .header-links a {
    color: #e72d80;
    font-family: "Montserrat", sans-serif;
    padding: 0 7.5px;
  }

  .header-links a:hover {
    color: #ac206e;
  }

  h1.isSticky {
    transform: translateY(-200px);
  }

  .header-links.isSticky {
    transform: translateY(-20px);
  }
}
@media screen and (min-width: 900px) {
  .header-links a {
    padding: 0 10px;
  }

  h1.isSticky {
    transform: translate(-300px, 5px);
    margin: 0;
    transition: transform 0.2s, font-size 0.2s;
  }

  .header-links.isSticky {
    transform: translate(100px, -20px);
  }
}
@media screen and (min-width: 1100px) {
  h1.isSticky {
    transform: translate(-400px, 5px);
  }

  .header-links.isSticky {
    transform: translateY(-20px);
  }
}
@media screen and (min-width: 2000px) {
  h1.isSticky {
    transform: translate(-550px, 10px);
  }

  .header-links.isSticky {
    transform: translateY(-23px);
  }

  h1 {
    font-size: 45px;
  }

  .header-links a {
    font-size: 22px;
    padding: 0 15px;
  }
}
@media screen and (min-width: 2600px) {
  h1.isSticky {
    transform: translate(-800px, 20px);
  }

  .header-links.isSticky {
    transform: translateY(-35px);
  }

  h1 {
    font-size: 70px;
  }

  .header-links a {
    font-size: 35px;
    padding: 0 20px;
  }
}
header {
  position: static;
}

h2 {
  text-align: center;
}

h3, p {
  color: #e72d80;
}

article img {
  width: 100%;
  margin: 0 0 3px;
}

.gallery {
  display: flex;
  flex-flow: column;
}

.gallery img {
  -webkit-box-shadow: 3px 5px 10px -3px #0d0305;
  -moz-box-shadow: 3px 5px 10px -3px #0d0305;
  box-shadow: 3px 5px 10px -3px #0d0305;
  cursor: pointer;
}

.gallery-header {
  position: sticky;
  top: 0;
  padding: 10px 0;
  background-color: #201e21;
  -webkit-box-shadow: 0 5px 5px -4px #0d0305;
  -moz-box-shadow: 0 5px 5px -4px #0d0305;
  box-shadow: 0 5px 5px -4px #0d0305;
  z-index: 1;
}

.gallery-header table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.category-displayed {
  display: block;
}

.category-hidden {
  display: none;
}

.img-description {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: none;
}

/*sidebar navigation*/
.open-button {
  color: #e72d80;
  border: none;
  background-color: inherit;
  transition: 0.2s;
  font-size: 22px;
}

.open-button:hover, .open-button:focus {
  color: #ac206e;
}

.sidebar {
  display: flex;
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 2;
  top: 0;
  left: -250px;
  background-color: #1f1f24;
  overflow-x: hidden;
  transition: 0.4s;
  flex-flow: column;
  -webkit-box-shadow: 5px 0 10px -3px #0d0305;
  -moz-box-shadow: 5px 0 10px -3px #0d0305;
  box-shadow: 5px 0 10px -3px #0d0305;
}

.sidebar button {
  padding: 20px 10px 20px;
  border: none;
  font-size: 23px;
  color: #e72d80;
  background-color: #1f1f24;
  text-align: left;
  white-space: pre;
}

.sidebar button:hover, .sidebar button:focus {
  color: #97fae4;
}

.sidebar .sidebar-close-button {
  font-size: 45px;
  text-align: right;
  padding: 0 10px 0 0;
}

/*====== Full layout ======*/
@media screen and (min-width: 700px) {
  article img {
    height: 45vw;
    width: 45vw;
    object-fit: cover;
  }

  .gallery {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .gallery img {
    z-index: 0;
  }

  .gallery img:hover, .gallery img:focus {
    object-fit: contain;
  }

  .gallery img:focus {
    outline: #e72d80 solid 1px;
  }
}
@media screen and (min-width: 900px) {
  article img {
    height: 30vw;
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  article img {
    height: 24vw;
    width: 24vw;
  }
}
@media screen and (min-width: 1500px) {
  article img {
    height: 370px;
    width: 370px;
  }

  .gallery {
    width: 1500px;
    margin: auto;
  }
}
@media screen and (min-width: 2000px) {
  article img {
    height: 20vw;
    width: 20vw;
  }

  .gallery {
    width: 2000px;
  }
}
@media screen and (min-width: 2600px) {
  article img {
    height: 600px;
    width: 600px;
  }

  .gallery {
    width: 2600px;
  }
}

/*# sourceMappingURL=gallery.css.map */
