@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff");
}
* {
  font-family: "Muli", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #97fae4;
}

h2 {
  color: #e72d80;
}

/* determines icon size */
header {
  text-align: center;
  font-size: 15px;
  transition: 0.2s;
}
header a, header a:visited {
  text-decoration: none;
  color: #97fae4;
  font-family: "Montserrat", sans-serif;
}
header a:hover {
  color: #34b89a;
}

a, a:visited {
  text-decoration: none;
  color: #e72d80;
}

button {
  border: none;
}

.moon, .sun, .inline-icon {
  color: #34b89a;
  font-family: icomoon;
  font-size: 22px;
  padding: 10px 20px;
  transition: 0.2s;
  background-color: inherit;
}

.inline-icon {
  color: #e72d80;
  padding: 0 5px;
  font-size: inherit;
}

.sun {
  border: none;
  display: none;
}

.moon {
  border: none;
}

/* navbar icons change color on hover */
.sun:hover, .moon:hover {
  color: #97fae4;
}

button {
  cursor: pointer;
}

h1 {
  margin-bottom: 4px;
}

h2 {
  text-align: center;
}

h3, p {
  color: #e72d80;
}

article img {
  width: 100%;
  margin: 0 0 3px;
}

header {
  margin-bottom: 30px;
}

/*gallery specific classes*/
.gallery {
  display: flex;
  flex-flow: column;
}

.gallery img {
  -webkit-box-shadow: 3px 5px 10px -3px #0d0305;
  -moz-box-shadow: 3px 5px 10px -3px #0d0305;
  box-shadow: 3px 5px 10px -3px #0d0305;
  cursor: pointer;
}

.gallery-header {
  position: sticky;
  top: 0;
  padding: 10px 0;
  -webkit-box-shadow: 0 5px 5px -4px #0d0305;
  -moz-box-shadow: 0 5px 5px -4px #0d0305;
  box-shadow: 0 5px 5px -4px #0d0305;
  background-color: white;
  z-index: 1;
}

.category-displayed {
  display: block;
}

.category-hidden {
  display: none;
}

.img-description {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  display: none;
}

/*sidebar navigation*/
.openButton {
  color: #e72d80;
  border: none;
  background-color: inherit;
  transition: 0.2s;
}

.openButton:hover {
  color: #b31d51;
}

.sidebar {
  display: flex;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #1f1f24;
  overflow-x: hidden;
  transition: 0.4s;
  opacity: 0.97;
  flex-flow: column;
  box-shadow: 5px 0 10px -3px #0d0305;
}

.sidebar button {
  padding: 20px 5px 20px;
  border: none;
  font-size: 23px;
  color: #e72d80;
  background-color: #1f1f24;
  text-align: left;
  white-space: pre;
}

.sidebar button:hover, .sidebar button:focus {
  background-color: #3b1f2b;
}

.sidebar .sidebar-close-button {
  font-size: 45px;
  text-align: right;
  padding: 0 10px 0 0;
}

/*about me specific classes*/
.aboutme-body {
  width: 80%;
  margin: 0 auto 30px;
  -webkit-box-shadow: 3px 5px 10px -3px #0d0305;
  -moz-box-shadow: 3px 5px 10px -3px #0d0305;
  box-shadow: 3px 5px 10px -3px #0d0305;
  padding: 20px;
}

.profile {
  width: 100%;
}

/*====== Full layout ======*/
@media screen and (min-width: 700px) {
  h1 {
    font-size: 55px;
  }

  article img {
    height: 45vw;
    width: 45vw;
    object-fit: cover;
  }

  .gallery {
    flex-flow: row wrap;
    justify-content: space-evenly;
  }

  .aboutme-body {
    min-width: 547px;
    max-width: 600px;
  }

  .gallery img {
    z-index: 0;
  }

  .gallery img:hover, .gallery img:focus {
    object-fit: contain;
  }

  .gallery img:focus {
    outline: #e72d80 solid 1px;
  }
}
@media screen and (min-width: 900px) {
  article img {
    height: 30vw;
    width: 30vw;
  }
}
@media screen and (min-width: 1200px) {
  .aboutme-body {
    width: 600px;
  }

  article img {
    height: 24vw;
    width: 24vw;
  }
}
@media screen and (min-width: 1500px) {
  article img {
    height: 370px;
    width: 370px;
  }

  .gallery {
    width: 1500px;
    margin: auto;
  }
}

/*# sourceMappingURL=gallery.css.map */
