@charset "utf-8";

* {
	font-family: 'Muli', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	color: #97fae4;
	margin-bottom: 4px;
}

h2 {
	text-align: center;
	color: #e72d80;
}

h3 {
	text-align: left;
	color: #e72d80;
	font-size: 25px;
	width: 80%;
	margin: auto;
}

header {
	text-align: center;
	font-size: 22px;
}

.icon {
	color:#34b89a;
	padding: 0 20px;
}

/*====== Full layout ======*/
@media screen and (min-width:800px){
	header {
		font-size:18px;
	}
	.icon {
		padding: 0 10px;
	}
	.container-main {
		display: flex;
		flex-flow: row;
	}
	.category {
		flex: 1 25%;
	}

}

@media screen and (min-width:1200px){
	h3 {
		width: 50%;
	}
}
