@font-face {
  font-family: icomoon;
  src: url("../fonts/icomoon.woff");
}
* {
  font-family: "Karla", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #97fae4;
}

h2 {
  color: #e9e6f2;
}

/* determines icon size */
header {
  text-align: center;
  font-size: 15px;
}
header a, header a:visited {
  text-decoration: none;
  color: #97fae4;
  font-family: "Montserrat", sans-serif;
}
header a:hover {
  color: #34b89a;
}

html {
  background-color: #201e21;
}

a, a:visited {
  text-decoration: none;
  color: #e9e6f2;
}

button {
  border: none;
  cursor: pointer;
}

.inline-icon {
  color: #34b89a;
  font-family: icomoon;
  font-size: 22px;
  padding: 10px 20px;
  transition: color 0.2s;
  background-color: inherit;
}

.inline-icon {
  color: #e9e6f2;
  padding: 0 5px;
  font-size: inherit;
}

h1 {
  font-size: 55px;
  margin-bottom: 0;
}

h2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  text-shadow: -3px 0 #201e21;
}

header {
  margin-bottom: 30px;
}

/* ============== Default, mobile layout ============== */
.panel {
  position: relative;
  margin-bottom: 5px;
}

.panel img {
  width: 100%;
  background-color: #121212;
  border: 2.75px solid #121212;
  -webkit-border-radius: 2.5px;
  border-radius: 2.5px;
}

.overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
}

.panel:hover, a:focus img {
  transform: scale(0.97);
  transition: all 0.1s;
}

.panel a:focus {
  outline-color: #e9e6f2;
}

.panel-topleft, .panel-topright, .panel-botright {
  animation-name: left-to-right;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

.panel-midleft, .panel-botleft {
  animation-name: right-to-left;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}

@keyframes left-to-right {
  from {
    opacity: 0;
    left: -50px;
  }
  to {
    opacity: 1;
    left: 0;
  }
}
@keyframes right-to-left {
  from {
    opacity: 0;
    right: -50px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
/* one last responsive hail mary for tiny viewports
 * layout breaks around 300px width
 */
@media screen and (min-width: 0) and (max-width: 500px) {
  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 2em;
  }
}
/* ============== Full panel display layout ============== 
 * If breakpoint is changed, the media rule in <picture> tags should also be adjusted
 * The <picture> breakpoint can't be equal to min-width, or else the panel arrangement breaks at that exact value;
 * as a workaround there is a couple pixel difference between the <picture> bp and the media query bp.
 */
@media screen and (min-width: 655px) {
  header {
    font-size: 18px;
  }

  .page {
    position: relative;
    min-width: 90vw;
    min-height: 108vw;
    background-color: #242328;
  }

  .panel img {
    object-fit: contain;
  }

  .panel-topleft {
    position: absolute;
    top: 0;
    left: -20px;
    width: 44.75%;
    animation-name: top-mid-left;
    animation-duration: 0.5s;
  }

  .panel-topright {
    position: absolute;
    top: 0;
    right: -10px;
    width: 45.65%;
    animation-name: top-right;
    animation-duration: 0.75s;
  }

  .panel-midleft {
    position: absolute;
    top: 24.25%;
    left: -20px;
    width: 44.75%;
    animation-name: top-mid-left;
    animation-duration: 0.75s;
  }

  .panel-botleft {
    position: absolute;
    bottom: 20px;
    left: -20px;
    width: 54.25%;
    animation-name: bot-left;
    animation-duration: 0.75s;
  }

  .panel-botright {
    position: absolute;
    bottom: 20px;
    right: -10px;
    width: 36.25%;
    animation-name: bot-right;
    animation-duration: 0.5s;
  }

  .page {
    box-shadow: 5px 5px 15px -8px #0d0305;
    margin-bottom: 30px;
  }

  /* hide overlay text */
  .overlay {
    position: absolute;
    overflow: hidden;
    left: 100%;
    width: 0;
    height: 100%;
    text-align: center;
  }

  /* these css animations only occur in wide viewports */
  .panel:hover .overlay, a:focus .overlay {
    width: 100%;
    left: 0;
  }

  .panel:hover img, a:focus img {
    filter: blur(3px);
  }

  @keyframes top-mid-left {
    0% {
      opacity: 0;
      left: -100px;
    }
    100% {
      opacity: 1;
      left: -20px;
    }
  }
  @keyframes top-right {
    0% {
      opacity: 0;
      top: -50px;
    }
    100% {
      opacity: 1;
      top: 0;
    }
  }
  @keyframes bot-left {
    0% {
      opacity: 0;
      bottom: -50px;
    }
    100% {
      opacity: 1;
      bottom: 20px;
    }
  }
  @keyframes bot-right {
    0% {
      opacity: 0;
      right: -100px;
    }
    100% {
      opacity: 1;
      right: -10px;
    }
  }
}
@media screen and (min-width: 750px) {
  .panel-topleft {
    width: 45%;
  }

  .panel-topright {
    width: 46.25%;
  }

  .panel-midleft {
    width: 45%;
  }

  .panel-botleft {
    width: 55%;
  }

  .panel-botright {
    width: 36.65%;
  }
}
@media screen and (min-width: 830px) {
  .panel-topleft {
    width: 45.75%;
  }

  .panel-topright {
    width: 47%;
  }

  .panel-midleft {
    top: 25%;
    width: 45.75%;
  }

  .panel-botleft {
    width: 55.5%;
  }

  .panel-botright {
    width: 37%;
  }
}
@media screen and (min-width: 1050px) {
  .panel-topleft {
    width: 46.5%;
  }

  .panel-topright {
    width: 47.1%;
  }

  .panel-midleft {
    top: 25%;
    width: 46.5%;
  }

  .panel-botleft {
    width: 56.25%;
  }

  .panel-botright {
    width: 37.5%;
  }
}
/* cap width and add margins */
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 50px;
  }

  .page {
    min-width: 1200px;
    min-height: 1350px;
    width: 1200px;
    height: 1350px;
    margin-left: auto;
    margin-right: auto;
  }

  .panel-topleft {
    width: 46.8%;
  }

  .panel-topright {
    width: 47.5%;
  }

  .panel-midleft {
    top: 25.1%;
    width: 46.8%;
  }

  .panel-botleft {
    width: 56.5%;
  }

  .panel-botright {
    width: 37.75%;
  }
}

/*# sourceMappingURL=homepage.css.map */
