@charset "utf-8";

* {
	font-family: 'Mulli', sans-serif;
}

h1 {
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 55px;
	color: #97fae4;
	margin-bottom:0;
	/*text-shadow: -3px 0 #34b89a;*/
}

h2 {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	font-size: 50px;
	color: #e72d80;
	text-shadow: -3px 0 #ac206e;
}

/* determines icon size */
header {
	text-align: center;
	font-size: 15px;
	margin-bottom: 30px;
}


/* ============== Default, mobile layout ============== */
.icon {
	color:#34b89a;
	padding: 0 20px;
}
.container-main {
	display: flex;
	flex-flow: row wrap;
}
.container-main > * {
	flex: 1 100%;
}
.panel-topright {
	margin-bottom: 5px;
}
.container-bot > * {
	margin-bottom: 5px;
}
.panel img {
	width: 100%;
	/* height: 100%; messes with .aboutme-overlay */
}
.overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}

/* hide overlay image in mobile layout */
.aboutme-overlay {
	position: absolute;
	overflow: hidden;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 0;
	transition: .2s ease;
}

/* animated elements & overlays */
.panel {
	transition: transform 0.1s;
	position: relative;
}
.panel:hover {
	transform: scale(0.95);
}

/* one last responsive hail mary for tiny viewports
 * layout breaks around 300px width
 */
@media screen and (min-width:0) and (max-width: 500px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
}

/* ============== Full panel display layout ============== */
/* if breakpoint is changed, the media rule in <picture> tags should also be adjusted */
@media screen and (min-width:650px) {
	header {
		font-size: 18px;
	}

	/* set up grid layout */
	.container-topleft {
		flex-flow: column;
		margin-right: 5px;
	}
	.container-top > *, .container-topleft > * {
		flex: 1 calc(50% - 2.5px);
	}
	.panel-topleft {
		order:1;
	}
	.panel-midleft {
		order:2;
		margin-top: 5px;
	}
	.container-bot {
		margin-top: 5px;
	}
	.panel-botleft {
		flex: 1 calc(60% - 2.5px);
		/*margin-right: 2.5px;*/
	}
	.panel-botright {
		flex: 1 calc(40% - 2.5px);
		margin-left: 5px;
	}
	.panel-topright img{
		height: 100%;
	}
	.page {
		box-shadow: -3px 3px 10px -5px #1a0509;
		padding: 10px;
		margin-bottom: 30px;
	}

	/* hide overlay text */
	.overlay {
		position: absolute;
		overflow: hidden;
		left: 100%;
		width: 0;
		height: 100%;
		text-align: center;
	}

	/* trigger css animations only in wide viewports */
	.panel-botright:hover .aboutme-overlay {
		height: 100%;
	}

	.panel:hover .overlay {
		width: 100%;
		left: 0;
	}

	.panel:hover img {
		filter: blur(3px);
	}
}

/* add margins when viewport is larger than max resolution images */
@media screen and (min-width:1200px) {
	.container-main {
		width:1200px;
	}
	.page {
		width:1200px;
		margin-left: auto;
		margin-right: auto;
	}
}