@charset "UTF-8";
@font-face{
  font-family: 'uni0553';
  src: url('fonts/uni0553-webfont.woff') format('woff'),
  url('fonts/uni0553-webfont.ttf') format('truetype');
}
@font-face{
  font-family: 'DeterminationMono';
  src: url('fonts/DeterminationMonoWeb.woff') format('woff'),
  url('font/DTM-Mono.otf')  format('opentype');
}

body{
  background-color: #0b1111;
  color: #fca89f;
  font-family: 'DeterminationMono';
  font-size: 20px;
  margin-left:1%;
  margin-bottom:1%;
}

.border{
  border: 3px solid ;
  color: #fca89f;
  padding: 2%;
}

.negative{
  background-color: #fca89f;
  color: #0b1111;
  padding: 1%;
}

.underline{
  padding-bottom: 1%;
  border-bottom: solid 3px #fca89f;
}

.leftbox{
  margin-top: 90px;
  width:40%;
}

.rightbox{
  height: 80%;
  width: 53%;
  position: fixed;
  top: 90px;
  right: 1.5%;
  object-fit: contain;
  color: #a2eeef;
}

.pagewrapper{

}

#head{
  position:fixed;
  top: 0%;
  height: 90px;
  width: 100%;
  background-color: #0b1111;
  overflow: hidden;
  text-overflow: clip;
}

ul,li {
  list-style-type: none;
  list-style-position:inside;
  margin:0;
  padding:0; 
}
