@charset "UTF-8";
@font-face{
  font-family: 'uni0553';
  src: url('fonts/uni0553-webfont.woff') format('woff'),
  url('fonts/uni0553-webfont.ttf') format('truetype');
}
@font-face{
  font-family: 'DeterminationMono';
  src: url('fonts/DeterminationMonoWeb.woff') format('woff'),
  url('font/DTM-Mono.otf')  format('opentype');
}

body{
  background-color: #0b1111;
  color: #fca89f;
  font-family: 'DeterminationMono';
  font-size: 20px;
}

.border{
  border: 3px solid ;
  color: #fca89f;
  padding: 20px;
}

.negative{
  background-color: #fca89f;
  color: #0b1111;
  padding: 5px;
}

.underline{
  padding-bottom: 5px;
  border-bottom: solid 2px #fca89f;
}

/**
#a2eeef -> desaturated cyan color
**/
