$body-font: 'Karla', sans-serif;
$header-font: 'Montserrat', sans-serif;
$page-bg-color: #201e21;
$content-bg-color: #242328;
//shades of aqua
$primary-color: #97fae4;
$primary-color-shadow: #34b89a;
//shades of amaranth
$secondary-color: #e72d80;
$secondary-color-shadow: #ac206e;
$gallery-shadow-color: #0d0305;

@charset "utf-8";
@font-face{
	font-family: icomoon;
	src: url("../fonts/icomoon.woff");
}

* {
	font-family: $body-font;
}
h1 {
	text-align: center;
	font-family: $header-font;
	color: $primary-color;
}
h2 {
	color: $secondary-color;
}
/* determines icon size */
header {
	text-align: center;
	font-size: 15px;
	// transition: all .2s;

	a, a:visited {
		text-decoration: none;
		color: $primary-color;
		font-family: $header-font;
	}
	a:hover {
		color: $primary-color-shadow;
	}
}
html {
	background-color: $page-bg-color;
}
a, a:visited {
	text-decoration: none;
	color: $secondary-color;
}
button {
	border: none;
	cursor: pointer;
}

%icomoon {
	color: $primary-color-shadow;
	font-family: icomoon;
	font-size: 22px;
	padding: 10px 20px;
	transition: color .2s;
	background-color: inherit;
}
.inline-icon {
	@extend %icomoon;
	color: $secondary-color;
	padding: 0 5px;
	font-size: inherit;
}
.sun {
	@extend %icomoon;
	border: none;
}
.moon {
	@extend %icomoon;
	border: none;
}
.hidden-button {
	display: none;
}
/* navbar icons change color on hover */
.sun:hover, .moon:hover {
	color: $primary-color;
}
.bg-dark {
	background-color: $page-bg-color;
}
.bg-light {
	background-color: white;
}
//make content background a lighter, distinct color in both light and dark mode
.content-dark {

}
.content-light {

}