$body-font: 'Muli', sans-serif;
$header-font: 'Montserrat', sans-serif;
$background-color: #1d1e1f;
//shades of aqua
$primary-color: #97fae4;
$primary-color-shadow: #34b89a;
//shades of amaranth
$secondary-color: #e72d80;
$secondary-color-shadow: #ac206e;

@charset "utf-8";
@font-face{
	font-family: icomoon;
	src: url("../fonts/icomoon.woff");
}

* {
	font-family: $body-font;
}
h1 {
	text-align: center;
	font-family: $header-font;
	color: $primary-color;
}
h2 {
	color: $secondary-color;
}
/* determines icon size */
header {
	text-align: center;
	font-size: 15px;
	transition: .2s;

	a, a:visited {
		text-decoration: none;
		color: $primary-color;
		font-family: $header-font;
	}
	a:hover {
		color: $primary-color-shadow;
	}
}
html {
	background-color: $background-color;
}
a, a:visited {
	text-decoration: none;
	color: $secondary-color;
}
button {
	border: none;
	cursor: pointer;
}

%icomoon {
	color: $primary-color-shadow;
	font-family: icomoon;
	font-size: 22px;
	padding: 10px 20px;
	transition:.2s;
	background-color: inherit;
}
.inline-icon {
	@extend %icomoon;
	color: $secondary-color;
	padding: 0 5px;
	font-size: inherit;
}
.sun {
	@extend %icomoon;
	border: none;
}
.moon {
	@extend %icomoon;
	border: none;
}
.hidden-button {
	display: none;
}
/* navbar icons change color on hover */
.sun:hover, .moon:hover {
	color: $primary-color;
}
.dark-bg {
	background-color: $background-color;
}
.white-bg {
	background-color: white;
}