$body-font: 'Karla', sans-serif;
$header-font: 'Montserrat', sans-serif;
$page-bg-color: #201e21;
$content-bg-color: #242328;
//shades of aqua
$primary-color: #97fae4;
$primary-color-shadow: #34b89a;
//body text color
$body-text-color: #e9e6f2;
//shades of amaranth
$secondary-color: #e72d80;
$secondary-color-shadow: #ac206e;
$gallery-shadow-color: #0d0305;

@charset "UTF-8";
@font-face{
	font-family: icomoon;
	src: url("../fonts/icomoon.woff");
}

* {
	font-family: $body-font;
}
html {
	background-color: $page-bg-color;
}
body {
	margin: 0 0 100px;
}
h1 {
	// background-color: $content-bg-color;
	text-align: center;
	font-family: $header-font;
	color: $primary-color;
	margin-bottom: 10px;
	transition: all .2s;
}
h2 {
	color: $body-text-color;
}
header {
	position: sticky;
	background-color: $page-bg-color;
	top: -1px;
	margin-bottom: 40px;
	border-top: 1px;
	z-index: 1;
	text-align: center;

	h1 a, h1 a:visited {
		text-decoration: none;
		color: $primary-color;
		font-family: $header-font;
	}
	h1 a:hover {
		color: $primary-color-shadow;
	}
}
header.isSticky {
	-webkit-box-shadow: 0 5px 10px -3px $gallery-shadow-color;
	-moz-box-shadow: 0 5px 10px -3px $gallery-shadow-color;
	box-shadow: 0 5px 10px -3px $gallery-shadow-color;
}
h1.isSticky {
	transform: translateY(10px);
}
a, a:visited {
	text-decoration: none;
	color: $secondary-color;
}
button {
	border: none;
	cursor: pointer;
}
.header-links {
	display: none;
	position: relative;
	flex-direction: column;
	transition: all .2s;

	a {
		padding: 0 0 25px;
		font-size: 18px;
		color: $body-text-color;
	}
}
.mobile-links-button.inline-icon {
	font-size: 24px;
	padding: 10px 0 20px;
}
%icomoon {
	color: $primary-color-shadow;
	font-family: icomoon;
	font-size: 22px;
	padding: 10px 20px;
	transition: color .2s;
	background-color: inherit;
}
.inline-icon {
	@extend %icomoon;
	color: $secondary-color;
	padding: 0 5px;
}
.header-links.isOpen {
	display: flex;
	animation: navbarSlide .2s;
}
@keyframes navbarSlide{
	from {
		opacity: 0;
		top: -100px;
	}
	to {
		opacity: 1;
		top: 0;
	}
}
@media screen and (min-width: 500px) {
	.mobile-links-button {
		display: none;
	}
	.header-links {
		display: block;
		position: static;
	}
	.header-links.isOpen {
		// fail-safe necessary in case the viewport changes while the .isOpen class is active
		display: block;
		animation: none;
	}
	.header-links a {
		color: $secondary-color;
		font-family: $header-font;
		padding: 0 7.5px;
	}
	.header-links a:hover {
		color: $secondary-color-shadow;
	}
	h1.isSticky {
		transform: translateY(-200px);
	}
	.header-links.isSticky {
		transform: translateY(-20px);
	}
}
@media screen and (min-width: 900px) {
	.header-links a {
		padding: 0 10px;
	}
	h1.isSticky {
		transform: translate(-300px, 5px);
		margin: 0;
		transition: transform .2s, font-size .2s;
	}
	.header-links.isSticky {
		transform: translate(100px, -20px);
		
	}
}
@media screen and (min-width: 1100px) {
	h1.isSticky {
		transform: translate(-400px, 5px);
	}
	.header-links.isSticky {
		transform: translateY(-20px);
	}
}
@media screen and (min-width: 2000px) {
	h1.isSticky {
		transform: translate(-550px, 10px);
	}
	.header-links.isSticky {
		transform: translateY(-23px);
	}
	h1 {
		font-size: 45px;
	}
	.header-links a {
		font-size: 22px;
		padding: 0 15px;
	}
}
@media screen and (min-width: 2600px) {
	h1.isSticky {
		transform: translate(-800px, 20px);
	}
	.header-links.isSticky {
		transform: translateY(-35px);
	}
	h1 {
		font-size: 70px;
	}
	.header-links a {
		font-size: 35px;
		padding: 0 20px;
	}
}