@use 'common';
$gallery-shadow-color: #0d0305;

p {
	color: common.$secondary-color-shadow;
}
header { 
	margin-bottom: 30px;
}

.card, .blurb {
	width: 80vw;
	padding: 20px;
	margin: 0 auto 15px;
	-webkit-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	-moz-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
a.blurb {
	width: 50vw;
	display: block;
	text-align: center;
}
.card h2 {
	text-align: center;
}
@media screen and (min-width:1100px) {
	.card, .blurb{
		width: 650px;
	}
	a.blurb {
		width: 500px;
	}
}