@use 'common';
$gallery-shadow-color: #0d0305;
$sidebar-color: #1f1f24;

h1 {
	margin-bottom: 4px;
}
h2 {
	text-align: center;
}
h3, p { //about me body text
	color: common.$secondary-color;
}
article img {
	width: 100%;
	margin: 0 0 3px;
}
header { //determines icon size
	margin-bottom: 30px;
}

/*gallery specific classes*/
.gallery {
	display: flex;
	flex-flow: column;
}
.gallery img {
	-webkit-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	-moz-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
}
.gallery-header {
	position: sticky;
	top: 0;
	padding: 10px 0;
	-webkit-box-shadow: 0 5px 5px -4px $gallery-shadow-color;
	-moz-box-shadow: 0 5px 5px -4px $gallery-shadow-color;
	box-shadow: 0 5px 5px -4px $gallery-shadow-color;
	background-color: white;
	z-index: 1; //keeps header above gallery images while scrolling
}
.category-displayed {
	display: block;
}
.category-hidden {
	display: none;
}
.img-description {
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	display: none;
}

/*sidebar navigation*/
.openButton {
	color: common.$secondary-color;
	border: none;
	background-color: inherit;
	transition: .2s;
}
.openButton:hover {
	color: #b31d51;
}
.sidebar {
	display: flex;
	height: 100%;
	width: 0; //changes with js
	position: fixed;
	z-index: 2; //keeps sidebar above gallery header
	top: 0;
	left: 0;
	background-color: $sidebar-color;
	overflow-x: hidden; //disable horizontal scroll
	transition: 0.4s;
	opacity: .97;
	flex-flow: column;
	box-shadow: 5px 0 10px -3px $gallery-shadow-color;
}
.sidebar button {
	padding: 20px 5px 20px;
	border: none;
	font-size: 23px;
	color: #e72d80;
	background-color: $sidebar-color;
	text-align: left;
	white-space: pre;
}
.sidebar button:hover, .sidebar button:focus {
	background-color: #3b1f2b;
}
.sidebar .sidebar-close-button {
	font-size: 45px;
	text-align: right;
	padding: 0 10px 0 0;
}

/*about me specific classes*/
.aboutme-body {
	width: 80%;
	margin: 0 auto 30px;
	-webkit-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	-moz-box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	box-shadow: 3px 5px 10px -3px $gallery-shadow-color;
	padding: 20px;
}
.profile {
	width: 100%;
}

/*====== Full layout ======*/
@media screen and (min-width:700px) {
	h1 {
		font-size: 55px;
	}
	article img {
		width: 49.5%;
		object-fit: cover;
	}
	.gallery {
		flex-flow: row wrap;
		justify-content: space-around;
	}
	.aboutme-body {
		min-width: 547px;
		max-width: 600px;
	}
	.gallery img {
		z-index: 0;
	}
	.gallery img:hover, .gallery img:focus {
		object-fit: contain;
		//animation not present for hover due to epilepsy inducing flicker if you mouse over the boundaries of an img
	}
	.gallery img:focus {
		outline: common.$secondary-color solid 1px;
		// animation-name: image-transform;
		// animation-duration: .3s;
		// animation-fill-mode: forwards;
	}
	// @keyframes image-transform {
	// 	0% {object-fit: cover; transform: scale(.8);}
	// 	50% {object-fit: contain; transform: scale(.65) ;}
	// 	100% {object-fit: contain; transform: scale(.95);}
	// }
}

/*3 columns*/
@media screen and (min-width:900px) {
	article img {
		width: 33%;
	}
}

/*4 columns*/
@media screen and (min-width:1200px) {
	.aboutme-body {
		width: 600px;
	}
	article img {
		width: 24.75%;
	}
}
@media screen and (min-width:1500px) {
	.gallery {
		width: 1500px;
		margin: auto;
	}
}
