@use 'common';

h1 {
	font-size: 55px;
	margin-bottom:0;
}
h2 {
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	font-family: common.$header-font;
	font-size: 40px;
	text-shadow: -3px 0 common.$secondary-color-shadow;
}
header {
	margin-bottom: 30px;
}

/* ============== Default, mobile layout ============== */
.panel {
	position: relative;
	margin-bottom: 5px;
}
.panel img {
	width: 100%;
	/* height: 100%; messes with .aboutme-overlay */
	border: 3px solid #121212;
	border-radius: 2.5px 3px 1.75px;
}
.overlay {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	text-align: center;
}
.panel:hover, a:focus img {
	transform: scale(.97);
	transition: all 0.1s;
}
.panel a:focus {
	outline-color: common.$secondary-color;
}

/* one last responsive hail mary for tiny viewports
 * layout breaks around 300px width
 */
@media screen and (min-width:0) and (max-width: 500px) {
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 2em;
	}
}

/* ============== Full panel display layout ============== 
 * If breakpoint is changed, the media rule in <picture> tags should also be adjusted
 * The <picture> breakpoint can't be equal to min-width, or else the panel arrangement breaks at that exact value;
 * as a workaround there is a couple pixel difference between the <picture> bp and the media query bp.
 */
@media screen and (min-width:655px) {
	header {
		font-size: 18px;
	}
	.page {
		position: relative;
		min-width: 90vw;
		min-height: 110vw;
	}
	.panel img {
		object-fit: contain;
	}
	.panel-topleft {
		position: absolute;
		top: 0;
		left: -20px;
		width: 44.75%;
	}
	.panel-topright {
		position: absolute;
		top: 0;
		right: -10px;
		width: 45.8%;
	}
	.panel-midleft {
		position: absolute;
		top: 24.25%;
		left: -20px;
		width: 44.75%;
	}
	.panel-botleft {
		position: absolute;
		top: 59%;
		left: -20px;
		width: 54.25%;
	}
	.panel-botright {
		position: absolute;
		top: 59%;
		right: -10px;
		width: 36.25%;
	}
	.page {
		box-shadow: 5px 5px 15px -8px #0d0305;
		margin-bottom: 30px;
	}

	/* hide overlay text */
	.overlay {
		position: absolute;
		overflow: hidden;
		left: 100%;
		width: 0;
		height: 100%;
		text-align: center;
	}

	/* these css animations only occur in wide viewports */
	.panel:hover .overlay, a:focus .overlay {
		width: 100%;
		left: 0;
	}
	.panel:hover img, a:focus img {
		filter: blur(3px);
	}

	// .panel img {
	// 	animation-name: topleft;
	// 	animation-duration: 1s;
	// 	animation-timing-function: ease-out;
	// 	animation-fill-mode: forwards;
	// }

	@keyframes topleft {
		from {
			opacity: 0;
		}

		to {
			opacity: 1;
		}
	}

	@keyframes midleft {

	}

	@keyframes topright {

	}

	@keyframes botleft {

	}

	@keyframes botright {

	}
}
@media screen and (min-width:800px) {
	.panel-topleft {
		width: 45%;
	}
	.panel-topright {
		width: 46%;
	}
	.panel-midleft {
		width: 45%;
	}
	.panel-botleft {
		top: 60%;
		width: 55%;
	}
	.panel-botright {
		top: 60%;
		width: 37%;
	}
}
@media screen and (min-width:900px) {
	.panel-topleft {
		width: 46%;
	}
	.panel-topright {
		width: 46.75%;
	}
	.panel-midleft {
		width: 46%;
	}
	.panel-botleft {
		top: 60.5%;
		width: 56%;
	}
	.panel-botright {
		top: 60.5%;
		width: 37.25%;
	}
}
@media screen and (min-width:1050px) {
	.panel-topleft {
		width: 46.5%;
	}
	.panel-topright {
		width: 47.15%;
	}
	.panel-midleft {
		top: 25%;
		width: 46.5%;
	}
	.panel-botleft {
		top: 60.75%;
		width: 56.25%;
	}
	.panel-botright {
		top: 60.75%;
		width: 37.5%;
	}
}
/* cap width and add margins */
@media screen and (min-width:1200px) {
	h2 {
		font-size: 50px;
	}
	.page {
		min-width: 1200px;
		min-height: 1350px;
		width:1200px;
		height: 1350px;
		margin-left: auto;
		margin-right: auto;
	}
	.panel-topleft {
		width: 46.8%;
	}
	.panel-topright {
		width: 47.5%;
	}
	.panel-midleft {
		top: 25.1%;
		width: 46.8%;
	}
	.panel-botleft {
		top: 61%;
		width: 56.5%;
	}
	.panel-botright {
		top: 61%;
		width: 37.75%;
	}

}
//some love for 4K monitors
@media screen and (min-width:2700px) {

}